.main-wrapper {
  opacity: 0;
}

.navbar .navbar_bg {
  opacity: 0;
}

.navbar.is--scrolled .navbar_bg {
  opacity: 1;
}

.splide__track {
  overflow: visible;
}

.splide__slide {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .backgroundblue .richtext a {
    color: var(--milky);
  }

  .padding-modified {
    padding-bottom: 0rem;
  }
}

.hbspt-form form {
  display: flex;
  row-gap: 16rem;
  flex-direction: column;
}

.hbspt-form label {
  font-size: 16rem;
}

.hbspt-form .hs-input {
  font-size: 16rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e9eb;
  color: #000000;
  font-weight: 500;
  background-color: #e0e9eb;
  height: 48rem;
  border-radius: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.hbspt-form textarea.hs-input {
  height: 100rem;
}

.hbspt-form .hs-button {
  border: 1px solid var(--white);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0000;
  border-radius: 300rem;
  padding: 16rem 40rem;
  font-family: ode, sans-serif;
  font-size: 20rem;
  font-weight: 700;
  line-height: 1;
  transition: all 0.2s;
  color: var(--white);
}
