.main-wrapper {
  opacity: 0;
}

.navbar .navbar_bg {
  opacity: 0;
}

.navbar.is--scrolled .navbar_bg {
  opacity: 1;
}

.splide__track {
  overflow: visible;
}

.splide__slide {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .backgroundblue .richtext a {
    color: var(--milky);
  }

  .padding-modified {
    padding-bottom: 0rem;
  }
}

.hbspt-form form {
  display: flex;
  column-gap: 16rem;
}

.hbspt-form .hs-input {
  font-size: 16rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e9eb;
  color: #000000;
  font-weight: 500;
  background-color: #e0e9eb;
  height: 48rem;
  border-radius: 4rem;
}

.hbspt-form label {
  font-size: 16rem;
}
